.container-collapse {
padding-top: 30px;
margin: auto;
width: 83%;
margin-bottom: -15px;
@media (max-width: 560px) {
width: 100%;
}
 }


.about-container {
 flex-grow: 1;
/* Utilisation de calc pour la hauteur du contenu principal */
height: calc(100% - 209px);
}