$main-color: #ff6060;

.accommodation-container {
    min-height: calc(100vh - 209px)
}

.title-and-location {
    color: $main-color;
    grid-area: title;
    
}

.title-accommodation {
    margin-bottom: 5px;
    font-size: 2.2em;
    @media (max-width: 560px) {
       font-size: 1.2em;
      }
}


.location {
    @media (max-width: 560px) {
        font-size: 0.9em;
       }
}


.buttons-collapse {
    display: flex;
    width:  100%;
    gap: 70px;
   padding-top: 20px;
    @media (max-width: 800px) {
      flex-direction: column;
      gap:0;
    }
}



.tags {
    display: flex;
    gap: 10px;
    grid-area: tags;
    @media (max-width: 810px) {
      
       
    }
}

.tag {
    display: flex;
    color: white;
    border-radius: 10px;
    height: 25px;
    background-color: $main-color;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.6% 3%;

    @media (max-width: 560px) {
        font-size: 0.7em;
    
    }
}


.host {
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-area: host;
    @media (max-width: 800px) {
      grid-area: rate-host;
      justify-self: end;
    
      }
   
}

.host img {
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
 
}

.host-name {
    width: 80px;
    text-align:right;
}

.stars {
    display:flex;
    justify-content: flex-end;
    grid-area: rate;
    @media (max-width: 800px) {
        grid-area: rate-host;
        justify-self: start;
        
    }
}

@media (max-width: 800px) {
    .stars-color,
    .stars-grey {
      grid-area: rate-host;
      justify-self: start;
      width: 30px;
    }
  }

.container-collapse-accommodation {
    width: 100%;
}

.grid-container {

    display: grid;
    grid-template-columns: 1fr 0.4fr;
    grid-template-areas: 
    "title host"
    "tags rate";
    align-items: center;
    gap: 15px;


}
@media (max-width:800px) {
    .grid-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr ;
        grid-template-areas: 
    "title"
    "tags"
    "rate-host";
    align-items: center;
    grid-row-gap: 20px;
 
    }
  }

  .stars, .host {
    display: flex;
    text-align: center; 
  }
