$main-color: #ff6060;

.title-and-location {
    color: $main-color;
    
}

.title-accommodation {
    margin-bottom: 5px;
    font-size: 2.2em;
}


.buttons-collapse {
    display: flex;
    width:  100%;
    gap: 70px;
    border-radius: 20px;
   padding-top: 20px;
    @media (max-width: 500px) {
      flex-direction: column;
    }
}

.tags-and-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}


.tags {
    display: flex;
    gap: 10px;
}

.tag {
    display: flex;
    color: white;
    border-radius: 10px;
    height: 25px;
    min-width: 115px;
    background-color: $main-color;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

}

.block-title {
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.host {
    color: $main-color;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.host img {
    border-radius: 50%;
    width: 64px;
    margin-left: 10px;
 
}

.host-name {
    width: 80px;
    text-align:right;
}

.container-collapse-accommodation {
    width: 100%;
    border-radius: 30px;

}

.button-collapsible {

}