$main-color: #ff6060;

.title-and-location {
    color: $main-color;
    
}

.title-accommodation {
    margin-bottom: 5px;
    font-size: 2.2em;
}


.buttons-collapse {
    display: flex;
    width:  100%;
    gap: 70px;
    border-radius: 20px;
}

.tags-and-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tags {
    display: flex;
    gap: 10px;
    padding-top: 30px;
}

.tag {
    display: flex;
    color: white;
    border-radius: 10px;
    height: 25px;
    min-width: 115px;
    background-color: $main-color;
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

}

.block-title {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.host {
    color: $main-color;
    margin-right: 0;
}

.host img {
    border-radius: 50%;
    width: 30%;
}

.host-name {
    margin: 0px;
   
}

