.banner {
    position: relative;
   padding-top: 10px;
   @media (max-width: 500px) {
    padding-top: 5px;
}
  
}


.banner-img {
    position: relative;
    border-radius: 25px;
    height: 223px;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    @media (max-width: 500px) {
      height: 111px;
  }
}



  .banner-title {
    position: absolute;
    color: white;
    top:50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%);
    @media (max-width: 500px) {
      font-size: 0.75em;
      text-align: left;
      transform: translate(-80%, -50%);
  }
  }