.header {
    padding-bottom: 15px;
}

.button-collapsible {
    position: relative;
    background-color: #FF6060;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3em;
    border-radius: 5px;

  }


.container-collapse {
    padding-top: 30px;
    margin: auto;
  width: 85%;
   
 
}

.button-collapsible > .arrow {
    position: absolute;
    color: red;
    right: 10px;
    top: 14px;
}


.display-content {
    color: #FF6060;
    font-size: 1.1em;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #F6F6F6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
   
}

