.error , .link-home {
    color: #ff6060;
    text-align: center;
    padding-bottom: 95px;
  
}

.error {
    // flex-grow: 1;
    /* Utilisation de calc pour la hauteur du contenu principal */
    height: calc(100% - 209px);
}

.error
h1 {
    margin: 0;
    padding-top: 90px;
    font-size: max(19vw, 96px);
}

.error p {
    font-size: max(2.3vw, 18px);
    padding-top: 40px;
    padding-bottom: 90px;
}
