.error , .link-home {
    color: #ff6060;
    text-align: center;
    padding-bottom: 70px;
  
}

.error
h1 {
    margin: 0;
    padding-top: 90px;
  font-size: 11em;
}

.error p {
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 90px;
}

.link-home {
 

}