.header {
display: flex;
justify-content: space-between;
align-items: center;
text-transform: capitalize;

}

.logo-header {
width: max(14vw, 145px);
    @media (max-width: 560px) {
        max-width: 45%; 
    }
}

nav {
    display: flex;
    gap: 40px;
    @media (max-width: 560px) {
        font-size: 0.52em;
        gap: 15px
    }
}

nav a {
   color: #FF6060;
   font-size: 1.5em;
   font-weight: 600;
 
   text-decoration: none;

   @media (max-width: 560px) {
    text-transform:uppercase;
} 
}

nav a.active{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    color: #FF6060;
 
}
